<div class="container  h-100">
        <div>
            <div class="card">
                <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                    <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">


                        <img src="{{userInformation.profileImg | profileImgPipe}}" alt="Generic placeholder image"
                            class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">

                        


                       
                    </div>
                    <div class="ms-3" style="margin-top: 130px;">
                        <h5>{{userInformation.firstName+" "+userInformation.firstLastName}}</h5>
                    </div>
                </div>
                <div class="p-4 text-black" style="background-color: #f8f9fa;">
                    <div class="d-flex justify-content-end text-center py-1">
                        <div>
                            <p class="mb-1 h5">253</p>
                            <p class="small text-muted mb-0">Photos</p>
                        </div>
                        <div class="px-3">
                            <p class="mb-1 h5">1026</p>
                            <p class="small text-muted mb-0">Followers</p>
                        </div>
                        <div>
                            <p class="mb-1 h5">478</p>
                            <p class="small text-muted mb-0">Following</p>
                        </div>
                    </div>
                </div>
                <div class="card-body p-4 text-black">
                    <div class="mb-5">
                        <p class="lead fw-normal mb-1">About</p>
                        <div class="p-4" style="background-color: #f8f9fa;">
                            <p class="font-italic mb-1"> {{"My name is "+userInformation.firstName + "
                                "+userInformation.secondName+" "+userInformation.firstLastName+"
                                "+userInformation.secondLastName}}</p>
                            <p class="font-italic mb-1">{{userInformation.inRelationship ? "in a relationship" :
                                "single"}}</p>
                            <p class="font-italic mb-1">{{userInformation.bornDate}}</p>
                            <p class="font-italic mb-0">{{userInformation.aboutMe}}</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <p class="lead fw-normal mb-0">Recent photos</p>
                        <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
                    </div>




                    <app-publications [from]="'profile'" [systemId]="systemId"></app-publications>

                </div>
            </div>
        </div>
</div>