<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#ffffff" type = "fire" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<app-navbar *ngIf="auth.isAuthenticated()"></app-navbar>
<router-outlet></router-outlet>
