<div class="m-5">


    <div *ngIf="from=='myProfile'">
        <h1>What are you thinking??</h1>
        <div class="d-flex">
            <!-- new publication -->
            <textarea class="writeMsg" #publication></textarea>

            <button type="button" (click)="newPublication(publication.value)" class="btn btn-dark">Post</button>

            <!--  -->
        </div>
    </div>


    <div class="card mt-5" style="border-radius: 1em;background-color: #e9e9e9;"
        *ngFor="let publication of publications  ;index as publicationIndex">
        <div class="card-header d-flex " style="background-color: #000;border-radius: 1em">
            <div class="comment-avatar"><img width="70" class="rounded-circle"
                    src="{{publication.profileImg | profileImgPipe}}" alt="">
            </div>
            <h4 class="comment-name" style="color: white;"><a>{{publication.nombres}}</a>
            </h4>
        </div>
        <div class="card-body container" style="margin: auto;">
            <blockquote class="blockquote mb-0">
                <p>{{publication.post.msg}}</p>
                <footer class="blockquote-footer">By <cite title="Source Title">{{publication.nombres}}</cite>

                </footer>
            </blockquote>
            <div class="like mt-2">
                <svg (click)="likeDislike()" *ngIf="isLike" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                </svg>

                <svg (click)="likeDislike()" *ngIf="!isLike" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                </svg>

                <label>6</label>

            </div>
        </div>

        <br>

        <hr>

        <ul id="comments-list" class="comments-list"
            *ngFor="let commentOfPublication of publication.post.comments;index as commentOfPublicationIndex">
            <li>
                <div class="comment-main-level">
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="{{commentOfPublication.profileImg | profileImgPipe}}" alt="">
                    </div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name by-author"><a>{{commentOfPublication.nombres}}</a></h6>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            {{commentOfPublication.comment}}
                        </div>
                    </div>
                </div>
                <!-- Respuestas de los comentarios -->
                <ul class="comments-list reply-list"
                    *ngFor="let commentOfPublication2 of commentOfPublication.comments">
                    <li>
                        <!-- Avatar -->
                        <div class="comment-avatar">
                            <img src="{{commentOfPublication2.profileImg | profileImgPipe}}" alt="">
                        </div>
                        <!-- Contenedor del Comentario -->
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name"><a>{{commentOfPublication2.nombres}}</a>
                                </h6>
                                <i class="fa fa-reply"></i>
                                <i class="fa fa-heart"></i>
                            </div>
                            <div class="comment-content">
                                {{commentOfPublication2.comment}}
                            </div>
                        </div>
                    </li>

                </ul>
                <div class="d-flex">
                    <!-- new publication -->
                    <textarea class="writeMsg replyMsg" #reply4Comment></textarea>

                    <button type="button" (click)="replyComment(reply4Comment.value,publication,commentOfPublication)"
                        class="btn btn-dark">Reply</button>

                    <!--  -->
                </div>



            </li>
        </ul>



        <div class="d-flex">
            <!-- new  -->
            <textarea class="writeMsg" #commentOfPublication></textarea>

            <button type="button" (click)="commentPublication(commentOfPublication.value,publication)"
                class="btn btn-dark">Comment</button>

            <!--  -->
        </div>

    </div>