<div class="card-columns d-flex " style="flex-wrap: wrap; justify-content: center;"
    *ngIf="peopleFound.length > 0,else noData">
    <div class="m-3 card container" *ngFor="let person of peopleFound"
        style="width :25% ;    height: fit-content;">
        <div class="clickable " (click)="goToProfile(person)">
            <img src="{{person.profileImg | profileImgPipe}}" class="card-img-top">
        </div>
        <div>
            <div class="text">
                <h5>{{person.firstName+" "+person.secondName+" "+person.firstLastName+" "+person.secondLastName}}</h5>
                <label>{{person.email}}</label>
            </div>
        </div>
    </div>
</div>

<!--NOTHING FOUND MESSAGE-->
<ng-template #noData>
    <div class="jumbotron jumbotron-fluid jumbo">
        <i class="fas fa-exclamation-triangle  fa-pulse fa-7x "></i>
        <div class="container">
            <br>
            <h1 class="display-4">NOTHING TO SHOW</h1>
            <p class="lead">try searching another friend</p>
        </div>
    </div>
</ng-template>