#inputFile {
    display: none;
}

.labelInputFile {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: #424548;
    position: absolute;
    padding: 1rem;
    box-shadow: 0 0 10px -1px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.labelInputFile img {
    width: 3rem;
    height: 3rem;
}

.labelInputFile:active {
    transform: scale(0.9);
}

.uploadFileBtn{
    position: absolute;
    left: 9em;
    top: 3em;
    z-index: 3;
}